@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
.nav{
    background-color: #ffffff;
}

.nav-item{
    margin-left: 2em;
}

.carousel-img {
  object-fit: cover;
  height: 30vh;
  width: 100%;
}

.phone-num {
  border-radius: 500px;
  font-weight: bold;
  background-color: gold;

}
.phone-num:hover {
  background-color: red;
  color: #ffffff;
}


.product-item{
  text-decoration: none !important;
  display: inline-block;
  transition: transform .2s; /* Animation */
  width: 100%;
  height: auto;
}

.product-item:hover{
  transform: scale(1.02);
}

.product-name{
  color: black;
}

.product-card{
  border: 1px solid rgb(145, 145, 145);
}

.product-img{
  /* object-fit: cover; */
  text-decoration: none !important;
  width: 100%;
  height: 20vh;
  margin: auto;
}
.price-text{
  display: flex;
  justify-content: center;
}

.more-title-a{
  text-decoration: none !important;
}

.more-title:hover{
  color: blue;
}

.more-title{
  color: coral;
}

.product-call-btn{
  font-weight: bold;
  color: #ffffff;
  background-color: red;
}

.product-call-btn:hover{
  background-color: gold;
}

.service {
  background-color: rgb(255, 255, 255);
}

.news1-image{
  width: 100%;
  height: auto;
}

.news2-image{
  width: 100%;
  height: auto;
}

.news-title {
  text-decoration: none !important;
}

.footer-logo-img{
  width: 100%;
  height: auto;
  object-fit: cover;
}